[submodule "HAP-NodeJS"]
	path = HAP-NodeJS
	url = https://github.com/netonjm/HAP-NodeJS
[submodule "external/paho.mqtt.m2mqtt"]
	path = external/paho.mqtt.m2mqtt
	url = https://github.com/eclipse/paho.mqtt.m2mqtt
[submodule "external/iCloudLib"]
	path = external/iCloudLib
	url = git@github.com:netonjm/iCloudLib.git
[submodule "external/Dapplo.MPD"]
	path = external/Dapplo.MPD
	url = https://github.com/netonjm/Dapplo.MPD
