[submodule "HAP-NodeJS"]
	path = HAP-NodeJS
	url = https://github.com/netonjm/HAP-NodeJS
[submodule "external/paho.mqtt.m2mqtt"]
	path = external/paho.mqtt.m2mqtt
	url = https://github.com/eclipse/paho.mqtt.m2mqtt
